.client-home-container {
	margin-top: 159px;
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.client-home {
	display: flex;
	justify-content: center;
}

.client-home-table {
	overflow-y: scroll;
	width: 100%;
	min-width: 50vw;
}
.client-home-table-container {
	max-height: 400px;
	overflow-y: scroll;
	margin-right: 50px;
}
.client-home-container th {
	width: 15%;
	text-transform: uppercase;
}

.client-table-body {
	text-align: center;
}

.client-home-table-btn {
	background-color: orange;
	color: white;
	font-weight: bold;
	padding: 2px 2px;
	border: solid 2px orange;
	border-radius: 10px;
	padding: 10px 20px;
	margin-right: 20px;
}

.client-home-table-btn:hover {
	background-color: transparent;
	color: orange;
}

.client-home-alerts {
	height: 100%;
	width: 200px;

	max-height: 600px;
	min-height: 400px;
	border: solid 2px orange;
}
.client-home-alerts-active {
	height: 400px;
	width: 200px;
	max-height: 400px;
	border: solid 6px greenyellow;
	color: greenyellow;
}
.client-home-container td {
	width: 100%;
	height: 80px;
	text-align: center;
	margin: 30px 0;
	border: 1px solid #fff;
}
.alert-btn {
	background-color: orange;
	color: #fff;
	height: 30px;
	width: 100%;
	text-transform: uppercase;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
.client-home-alerts table {
	overflow-y: scroll;
}
.client-home-container span {
	text-transform: uppercase;
}

/* Estilo para el pop-up */
.popup-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	z-index: 999; /* Asegúrate de que el pop-up esté en la parte superior */
	color: #000;
}

/* Estilo para el fondo desenfocado en el pop-up */
.popup-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
	z-index: 998; /* Un nivel detrás del pop-up */
}

/* Estilo para cerrar el pop-up */
.popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 24px;
}

/* Estilo para el contenido del pop-up */
.popup-content {
	/* Agrega estilos personalizados para el contenido del pop-up si es necesario */
}

.client-home-alerts-active table {
	max-height: 400px;
	overflow-y: scroll;
}
.client-home-alerts-active {
	max-height: 400px;
	overflow-y: scroll;
}
@media only screen and (max-width: 1000px) {
	.client-home-table-container {
		overflow-x: scroll;
	}
}
@media only screen and (max-width: 768px) {
	.client-home {
		display: block;
	}
	.client-home-table {
		overflow-x: scroll;
		min-height: 300px;
		max-height: 500px;
		overflow-y: scroll;
		border: 1px solid #f1f1f1;
		max-width: 250px;
	}
	.client-home-container th {
		min-width: 120px;
		background-color: #f1f1f1;
		height: 50px;
		color: #000;
	}
	.client-home-table-container {
		border: 1px solid #f1f1f1;
		width: 90vw;
		max-width: 350px;
		margin-bottom: 40px;
	}
	.client-home-container {
		margin-top: 50px;
	}
	.client-home-alerts {
		width: 90vw;
		max-width: 350px;
	}
}
